<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/bootstrap.css" rel="stylesheet"/>
    <script src="/public/js/jquery-1.11.3.min.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <title>前台首页</title>
</head>
<body class="body-bg">
        <nav class="white-bg">
            <div class="menu container">
                {%if category==''%}
                <a href="/" class="focus">首页</a>
                {%else%}
                <a href="/">首页</a>
                {%endif%}

                {%for cate in categories%}
                {%if category==cate.id%}
                <a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a>
                {%else%}
                <a href="/?category={{cate.id}}">{{cate.name}}</a>
                {%endif%}
                {%endfor%}
            </div>
        </nav>
        <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="mainLeft">
                    {%block content%}

                    {%endblock%}
                </div>
            </div>

            <div class="col-sm-4">
                <!--注册登录信息-->
                <div class="mainRight white-bg">
                    {% if userInfo._id %}
                    <div id="userInfo"><!--style="display: none;"-->
                        <div class="title"><span>用户信息</span></div>
                        <p>
                            <strong><span class="username">{{userInfo.username}}</span></strong>
                        </p>
                        {% if userInfo.isAdmin %}
                        <p>
                            <span class="info">您好，管理员</span>
                            <a href="/admin">进入后台管理界面</a>
                        </p>
                        {% else %}
                        <p>
                            <span class="info">您好，欢迎光临我的博客！！</span>
                        </p>
                        {% endif %}
                        <p>
                        <span>
                            <a href="javascript:;" id="logout">退出</a>
                        </span>
                        </p>
                    </div>
                    {% else %}
                    <div id="loginBox">
                        <form class="form-horizontal">
                            <div class="title"><span>登录</span></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名</label>
                                <div class="col-sm-9">
                                    <input type="text" name="username" class="form-control">
                                </div>
                                <!--<input type="text" name="username"/>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input type="text" name="password" class="form-control">
                                </div>
                                <!--<input type="text" name="password"/>-->
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button class="btn btn-danger btn-block">登录</button>
                                </div>
                            </div>
                            <div class="colWarning"></div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9 text-right">还没注册？<a href="###">马上注册</a></div>
                            </div>
                        </form>
                    </div>
                        <!--<form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">名字</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="firstname" placeholder="请输入名字">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">姓</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入姓">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">请记住我
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">登录</button>
                                </div>
                            </div>
                        </form>-->


                    <div id="registerBox" style="display: none">
                        <form class="form-horizontal">
                            <div class="title"><span>注册</span></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="username"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">确认密码</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="password" name="repassword"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button class="btn btn-danger btn-block">注册</button>
                                </div>
                            </div>


                            <div class="colWarning"></div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9 text-right">已有账号<a href="###">马上登录</a></div>
                            </div>

                        </form>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</body>
</html>